<div class="obox">
    <div class="item">
        <div class="ihead">
            <h3>Order:#{{@count}}</h3>
        </div>
        <h3>Items(1)</h3>
        <p>14th February 2024,Wed 6:38:57 PM</p>
    </div>
    <div class="order">
    {{!-- <OrderHistory::ProductName @productName={{@product_name}} /> --}}
        <div class="item_list">
            <h4>{{@productName}}(2)</h4>
        </div>

        <div class="total">
            <h3>Total</h3>
            <h4>Rs. {{20}}</h4>
        </div>
        <div class="order_by">
            <h4>Ordered by: {{@name}}</h4>
        </div>

        {{log @orderId}}
        <LinkTo @route="order.item" @model={{@orderId}} class="view_button">
            <button type="button">View details</button>
        </LinkTo>
    </div>
</div>