<Header />

<h1 class="cart-head">Cart</h1>

<div class="list">
    <div class="lorder">
        {{#if @model}}

        <div class="item-box">
            <img src={{@model.image}} alt="Pongal image" class="food">
            <div class="item-details">
                <h2>{{@model.name}}</h2>
                <div class="item-detail">
                    <div class="linfo">
                        <p>Quantity:</p>
                        <p>(Per)Price:</p>
                        <p>Delivery time:</p>
                    </div>
                    <div class="rinfo">
                        <h4>{{@model.quantity}} {{@model.quantity_type}}</h4>
                        <h4 class="food_price">Rs.{{@model.price}}</h4>
                        <div class="dropbox">
                            <select class="select" required="required" name="time" onchange={{action
                                this.handleChange}}>
                                <option value="-">-- Select the delivery time --</option>
                                <option class="selected_option" id="option_1" value="Breakfast">
                                    Breakfast (7:30 AM to 9:00 AM)</option>
                                <option class="selected_option" id="option_2" value="Lunch">Lunch
                                    (12:30 AM to 2:00 PM)</option>
                                <option class="selected_option" id="option_3" value="Dinner">Dinner
                                    (7:00 PM to 8:30 PM)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="slist">
                    <div class="add">
                        <input type="number" name="quantity" id="quantity" min="1" max="10" value="1" onchange={{action this.addQuantity}}>
                    </div>
                    <LinkTo @route="cart" @model="empty-cart">
                        <button type="button" class="remove_cart">Remove</button>
                    </LinkTo>
                </div>
            </div>
        </div>
        {{else}}

        <img class="emptyCart" src="/images/empty cart.jpg" alt="empty cart image" style="">
        <h2 class="noItems" style="">No Items in your cart!!</h2>
        <div>
            <LinkTo @route="menu">
                <input type="button" value="+ Add items" id="addItems" style="width: 27rem;">
            </LinkTo>
        </div>

        {{/if}}
    </div>

    {{#if @model}}

    <div class="summary" style="">
        <h2>SUMMARY</h2>
        <div class="sumlist">
            <div class="food_items">
                <p class="name">{{@model.name}}({{this.addedQuantity}})</p>
                <p class="rate">Rs. {{multiply this.addedQuantity @model.price}}</p>
            </div>
            <div class="sum">
                <p class="lsum">Delivery time</p>
                <div class="dtime">
                    {{#if this.selectedDeliveryTime}}
                     <p class="time">(Tomorrow){{this.selectedDeliveryTime}}</p>
                    {{else}}
                    <p class="time">-</p>
                    {{/if}}
                </div>
            </div>
            <div class="sum">
                <h4 class="lsum">Delivery charge</h4>
                <p class="rsum">Free</p>
            </div>
            <div class="selected-address">
                <div class="top-tittle">
                    <h4 class="shippment-address">Enter Shipping Address</h4>
                    <textarea name="" id="address" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div id="sum_total" class="sum">
                <div class="total">
                    <h4 class="lsum">Total</h4>
                    <p id="total_cost" class="rsum">Rs. {{multiply this.addedQuantity @model.price}}</p>
                </div>
            </div>
            <button class="place_order" type="button">Place Order</button>
        </div>
    </div>
    {{/if}}

</div>