<Header />

<h1 class="menu-head">Menu</h1>
<section class="details">
{{#each @model as |product|}}
    <ProductListItem @name={{product.name}} @food_type={{product.food_type}} @quantity={{product.quantity}} @quantity_type={{product.quantity_type}} @stock={{product.stock}} 
    @id={{product.id}} @price={{product.price}} @image={{product.image}}/>
{{/each}}

</section>